/******************** Style ************/

/** FONT **/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.header {
  background-image: linear-gradient(
      rgba(112, 157, 150, 0.9),
      rgba(112, 157, 150, 0.5)
    ),
    url('landscape.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
