/******************** Style ************/

/** FONT **/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('forest.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.first_heading {
  padding-top: 70px;
  font-size: 64px;
}

.date_to_go {
  margin-top: 20px;
  font-size: 18px;
}

.timer {
  margin-top: 120px;
  text-align: left;
}

span {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 50px;
  margin-left: 20px;
  font-size: 70px;
}

span:first-child {
  margin: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

span:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.lorem {
  margin-top: 130px;
  font-size: 14px;
  line-height: 25px;
}
